body.page-public.action-index {
  width: 100%;
  height: 100%;
  background-color: #222325;

  div#teaser {
    width: 100%;
    height: 100%;
    background: image-url('podmarker.jpg') center center no-repeat;
  }
}
